<img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Logo_der_Technischen_Universit%C3%A4t_Berlin.svg/200px-Logo_der_Technischen_Universit%C3%A4t_Berlin.svg.png" decoding="async" width="150" height="112">

# Python for ecohydrology

Prof. Dr. Eva Paton & Dr. Pedro Alencar


## Python Basics

This notebook presents:

* Data types
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Data types

### Numbers and arithmetic operations

In [1]:
2 + 2

4

In [7]:
3 * 3

3

In [2]:
2 / 3

0.6666666666666666

In [3]:
2 ** 8

256

In [4]:
3 % 2 # mod function: rest of a division

1

In [12]:
(2 + 3) * (5 + 5) # operation order

50

In [5]:
2 + 3 * 5 + 5 # operation order

22

### Variables

In [7]:
# Can't start with number or special characters
my_var = 2
MyVar = 3

In [8]:
x = 2
y = 3

In [9]:
z = x + y

In [10]:
z

5

### Strings

In [11]:
'single quotes'

'single quotes'

In [12]:
"double quotes"

'double quotes'

In [14]:
"There's no problem in using single quotes inside of one's doble quotes"

" There's no problem in using single quotes inside of one's doble quotes"

In [17]:
'Inside of single quotes I can "quote" any author'

'Inside of single quotes I can "quote" any author'

In [18]:
"Now, "this" is not alright"

SyntaxError: invalid syntax (2791729213.py, line 1)

### Print function

In [22]:
x = 'Hi there!'

In [23]:
x

'Hi there!'

In [24]:
print(x)

Hi there!

In [41]:
country = 'Brazil'
name = 'Pedro'
number = 22/7

In [49]:
print('My name is {a} and I am from {b}. My favorite number is {c:.2f}'.format(a=name,b=country,c=number))

My name is Pedro and I am from Brazil. My favorite number is 3.14

In [48]:
print('My name is {} and I am from {}. My favorite number is {:.2f}'.format(name,country,number))

My name is Pedro and I am from Brazil. My favorite number is 3.14

In [52]:
print(f'My name is {name} and I am from {country}. My favorite number is {number:.2f}')

My name is Pedro and I am from Brazil. My favorite number is 3.14

### Lists

In [26]:
[1,2,3] # lists can hold same type elements

[1, 2, 3]

In [53]:
['hi',1,[1,2]] # or different types. Even other lists

['hi', 1, [1, 2]]

In [63]:
my_list = ['A','B','C']

In [64]:
my_list.append('D') # add a new element

In [65]:
my_list

['A', 'B', 'C', 'D']

In [66]:
my_list[0] # python starts counting on ZERO

'A'

In [67]:
my_list[1]

'B'

#### List slicing

In [68]:
my_list[1:] # from element 1 to the end

['B', 'C', 'D']

In [69]:
my_list[:2] # from element 0 to the 2, 2 not included

['A', 'B']

In [71]:
my_list[0] = 'NEW' # replace an element

In [72]:
my_list

['NEW', 'B', 'C', 'D']

In [77]:
nest = ['A','B','C',['D','E',['F']]]

In [78]:
nest[3]

['D', 'E', ['F']]

In [79]:
nest[3][2]

['F']

In [80]:
nest[3][2][0]

'F'

### Dictionaries

In [90]:
d = {'key1':[my_list],'key2':[nest], 'key3':'some string'}

In [91]:
d

{'key1': [['NEW', 'B', 'C', 'D']],
 'key2': [['A', 'B', 'C', ['D', 'E', ['F']]]],
 'key3': 'some string'}

In [92]:
d['key1']

[['NEW', 'B', 'C', 'D']]

### Booleans

In [214]:
True

True

In [215]:
False

False

### Tuples

In [216]:
t = ('A', 'B', 'C', 'D')

In [217]:
t[0]

'A'

In [218]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [219]:
{1,2}

{1, 2, 3}

In [220]:
{1,2,1,1,2,1,2,2,1,1,2,2,2,1,2}

{1, 2}

## Operators

### Comparison

In [221]:
a = 1
b = 2

In [222]:
a == b

False

In [223]:
a > b

True

In [ ]:
a < b

In [224]:
a >= 1

True

In [ ]:
a is None

In [112]:
'hi' == 'bye'

False

### Logic

In [227]:
(a > 2) or (b < 3)

True

In [228]:
(a > 2) and (b < 3)

False

In [237]:
(a == 2) and (b == 3) or (4 == 4) # differently from arithmetic operations, logic is interpreted from left to right

False

In [ ]:
((a == 2) and (b == 3)) or (4 == 4) # use parenthesis to group!

In [ ]:
(a == 2) and ((b == 3) or (4 == 4))

## if,elif, else Statements

In [125]:
if a < b:
    print('üëç')

üëç

In [127]:
if a < b:
    print('üëç')
else:
    print('üëé')

first

In [128]:
if a > b:
    print('üëç')
else:
    print('üëé')

last

In [238]:
if a == b:
    print('üëç')
elif 3 == 3:
    print('ü§å')
else:
    print('üëé')

ü§å

## for Loops

In [129]:
letters = ['A', 'B', 'C', 'D']

In [132]:
for letter in letters:
    print(letter)

A
B
C
D

In [133]:
for letter in letters:
    print('Cool')

Cool
Cool
Cool
Cool

In [138]:
for michael in letters:
#     print(jelly+jelly)
    print(''.join([michael, michael, michael]))

AAA
BBB
CCC
DDD

## while Loops

In [139]:
i = 1
while i <= 4:
    print(i)
    i = i+1

1
2
3
4

## range()

In [140]:
range(4)

range(0, 4)

In [142]:
for i in range(4):
    print(i)

0
1
2
3

In [143]:
list(range(4))

[0, 1, 2, 3]

## list comprehension

In [144]:
x = [1,2,3,4]

In [145]:
out = []
for item in x:
    out.append(item**3)
print(out)

[1, 8, 27, 64]

In [146]:
[item**3 for item in x]

[1, 8, 27, 64]

## functions

In [153]:
def my_func(param1='default'):
    """
    Docstring goes here.
    
    In docstring you can add any useful information about your function. 
        - Which parameters it has?
        - What it does?
        - What it returns?
        
    """
    print(param1)

In [154]:
my_func

In [155]:
my_func()

default

In [156]:
my_func('Hi!')

new param

In [158]:
my_func(param1='Hello World!')

Hello World!

In [164]:
def cube(x):
    return x**3

In [165]:
out = cube(2)

In [166]:
print(out)

8

## lambda expressions

In [167]:
def double(var):
    return var*2

In [169]:
double(3)

6

In [177]:
double_lambda = lambda var: var*2

In [178]:
double_lambda(3)

6

## map and filter

In [185]:
seq = [1,2,3,4]

In [186]:
map(double,seq)

In [188]:
list(map(double,seq))

[2, 4, 6, 8]

In [189]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8]

In [190]:
filter(lambda item: item%2 == 0,seq)

In [191]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In python, a method is a function that belongs to an object!

Python is a OOP (Object Oriented Programming) language

Strings are objects:

In [192]:
st = "Hi! I'm Pedro"

In [193]:
st.lower()

"hi! i'm pedro"

In [194]:
st.upper()

"HI! I'M PEDRO"

In [195]:
st.split()

['Hi!', "I'm", 'Pedro']

In [197]:
st.split("!")

['Hi', " I'm Pedro"]

In [199]:
st.split('!')[1]

" I'm Pedro"

Dictionaries are objects:

In [200]:
d

{'key1': [['NEW', 'B', 'C', 'D']],
 'key2': [['A', 'B', 'C', ['D', 'E', ['F']]]],
 'key3': 'some string'}

In [201]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [202]:
d.items()

dict_items([('key1', [['NEW', 'B', 'C', 'D']]), ('key2', [['A', 'B', 'C', ['D', 'E', ['F']]]]), ('key3', 'some string')])

Lists are objects:

In [207]:
lst = ['A', 'B', 'C', 'D']

In [208]:
lst.pop()

'D'

In [209]:
lst

['A', 'B', 'C']

In [210]:
'x' in lst

False