<img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Logo_der_Technischen_Universit%C3%A4t_Berlin.svg/200px-Logo_der_Technischen_Universit%C3%A4t_Berlin.svg.png" decoding="async" width="150" height="112">

# Python for ecohydrology

Dr. Pedro Alencar (TU-Berlin √ñkohydrologie & Landschaftsbewertung)

Class 1 - 24.11.2022


## Python Basics

This notebook presents:

* Data types
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Data types

### Numbers and arithmetic operations

In [3]:
2 + 2

4

In [4]:
3 * 3

9

In [5]:
2 / 3

0.6666666666666666

In [6]:
2 ** 8

256

In [7]:
3 % 2 # mod function: rest of a division

1

In [8]:
(2 + 3) * (5 + 5) # operation order

50

In [9]:
2 + 3 * 5 + 5 # operation order

22

### Variables

In [10]:
# Can't start with number or special characters
my_var = 2
MyVar = 3

In [11]:
x = 2
y = 3

In [12]:
z = x + y

In [13]:
z

5

### Strings

In [14]:
'single quotes'

'single quotes'

In [15]:
"double quotes"

'double quotes'

In [16]:
"There's no problem in using single quotes inside of one's doble quotes"

"There's no problem in using single quotes inside of one's doble quotes"

In [17]:
'Inside of single quotes I can "quote" any author'

'Inside of single quotes I can "quote" any author'

In [18]:
"Now, "this" is not alright"

SyntaxError: invalid syntax (2791729213.py, line 1)

### Print function

In [19]:
x = 'Hi there!'

In [20]:
x

'Hi there!'

In [21]:
print(x)

Hi there!

In [22]:
country = 'Brazil'
name = 'Pedro'
number = 22/7

In [25]:
print('My name is {a} and I am from {b}. My favorite number is {c:.2f}'.format(a=name,b=country,c=number))

My name is Pedro and I am from Brazil. My favorite number is 3.14

In [27]:
print('My name is {} and I am from {}. My favorite number is {:.2f}'.format(name,country,number))

My name is Pedro and I am from Brazil. My favorite number is 3.14

In [28]:
print(f'My name is {name} and I am from {country}. My favorite number is {number:.2f}')

My name is Pedro and I am from Brazil. My favorite number is 3.14

### Lists

In [29]:
[1,2,3] # lists can hold same type elements

[1, 2, 3]

In [30]:
['hi',1,[1,2]] # or different types. Even other lists

['hi', 1, [1, 2]]

In [31]:
my_list = ['A','B','C']

In [32]:
my_list.append('D') # add a new element

In [33]:
my_list

['A', 'B', 'C', 'D']

In [34]:
my_list[0] # python starts counting on ZERO

'A'

In [35]:
my_list[3]

'D'

#### List slicing

In [36]:
my_list[1:] # from element 1 to the end

['B', 'C', 'D']

In [37]:
my_list[:2] # from element 0 to the 2, 2 not included

['A', 'B']

In [38]:
my_list[0] = 'NEW' # replace an element

In [39]:
my_list

['NEW', 'B', 'C', 'D']

In [40]:
nest = ['A','B','C',['D','E',['F']]]

In [41]:
nest[3]

['D', 'E', ['F']]

In [42]:
nest[3][2]

['F']

In [43]:
nest[3][2][0]

'F'

### Dictionaries

In [44]:
d = {'key1':[my_list],'key2':[nest], 'key3':'some string'}

In [45]:
d

{'key1': [['NEW', 'B', 'C', 'D']],
 'key2': [['A', 'B', 'C', ['D', 'E', ['F']]]],
 'key3': 'some string'}

In [46]:
d['key1']

[['NEW', 'B', 'C', 'D']]

### Booleans

In [47]:
True

True

In [48]:
False

False

### Tuples

In [49]:
t = ('A', 'B', 'C', 'D')

In [50]:
t[0]

'A'

In [51]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [52]:
{1,2}

{1, 2}

In [53]:
{1,2,1,1,2,1,2,2,1,1,2,2,2,1,2}

{1, 2}

## Operators

### Comparison

In [54]:
a = 1
b = 2

In [55]:
a == b

False

In [56]:
a > b

False

In [57]:
a < b

True

In [58]:
a >= 1

True

In [59]:
a is None

False

In [60]:
'hi' == 'bye'

False

In [62]:
a != b

True

### Logic

In [65]:
(a > 2) or (b < 3)

True

In [66]:
(a > 2) and (b < 3)

False

In [67]:
(a == 2) and (b == 3) or (4 == 4) # differently from arithmetic operations, logic is interpreted from left to right

True

In [68]:
((a == 2) and (b == 3)) or (4 == 4) # use parenthesis to group!

True

In [69]:
(a == 2) and ((b == 3) or (4 == 4))

False

## if,elif, else Statements

In [70]:
if a < b:
    print('üëç')

üëç

In [71]:
if a < b:
    print('üëç')
else:
    print('üëé')

üëç

In [72]:
if a > b:
    print('üëç')
else:
    print('üëé')

üëé

In [73]:
if a == b:
    print('üëç')
elif 3 == 3:
    print('ü§å')
else:
    print('üëé')

ü§å

## for Loops

In [74]:
letters = ['A', 'B', 'C', 'D']

In [75]:
for letter in letters:
    print(letter)

A
B
C
D

In [76]:
for letter in letters:
    print('Cool')

Cool
Cool
Cool
Cool

In [79]:
for x in letters:
#     print(jelly+jelly)
    print(''.join([x, x, x]))

AAA
BBB
CCC
DDD

## while Loops

In [78]:
i = 1
while i <= 4:
    print(i)
    i = i+1

1
2
3
4

## range()

In [80]:
range(4)

range(0, 4)

In [81]:
for i in range(4):
    print(i)

0
1
2
3

In [82]:
list(range(4))

[0, 1, 2, 3]

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**3)
print(out)

In [ ]:
[item**3 for item in x]

## functions

In [1]:
def my_func(param1='default'):
    """
    Docstring goes here.
    
    In docstring you can add any useful information about your function. 
        - Which parameters it has?
        - What it does?
        - What it returns?
        
    """
    print(param1)

In [2]:
my_func

In [3]:
my_func()

default

In [4]:
my_func('Hi!')

Hi!

In [5]:
my_func(param1='Hello World!')

Hello World!

In [6]:
def cube(x):
    return x**3

In [7]:
out = cube(2)

In [8]:
print(out)

8

## lambda expressions

In [ ]:
def double(var):
    return var*2

In [ ]:
double(3)

In [ ]:
double_lambda = lambda var: var*2

In [ ]:
double_lambda(3)

## map and filter

In [ ]:
seq = [1,2,3,4]

In [ ]:
map(double,seq)

In [ ]:
list(map(double,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## methods

In python, a method is a function that belongs to an object!

Python is a OOP (Object Oriented Programming) language

Strings are objects:

In [ ]:
st = "Hi! I'm Pedro"

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
st.split("!")

In [ ]:
st.split('!')[1]

Dictionaries are objects:

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

Lists are objects:

In [ ]:
lst = ['A', 'B', 'C', 'D']

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in lst

# Extercise

## Fizzbuzz

Players generally sit in a circle. The player designated to go first says the number "1", and the players then count upwards in turn. However, any number divisible by three is replaced by the word fizz and any number divisible by five by the word buzz. Numbers divisible by both three and five (i.e. divisible by 15) become fizz buzz. A player who hesitates or makes a mistake is eliminated.

For example, a typical round of fizz buzz would start as follows:

1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz, 16, 17, Fizz, 19, Buzz, Fizz, 22, 23, Fizz, Buzz, 26, Fizz, 28, 29, Fizz Buzz, 31, 32, Fizz, 34, Buzz, Fizz, ...

Write a scrip that prints this sequence up to `42`

In [ ]:
n = 42

In [ ]:
# tip: you'll need to use loops, if, elif and else